*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/agent_function_call/mobile_en_example.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/agent_function_call/mobile_zh_example.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/computer_use/computer_use1.jpeg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/computer_use/computer_use2.jpeg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/document_parsing/docparsing_example1.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/document_parsing/docparsing_example2.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/document_parsing/docparsing_example3.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/document_parsing/docparsing_example4.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/document_parsing/docparsing_example5.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/document_parsing/docparsing_example6.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/document_parsing/docparsing_example7.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/document_parsing/docparsing_example8.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/multimodal_coding/screenshot_demo.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/multimodal_coding/sketch2code_input.jpeg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/ocr/.ipynb_checkpoints/ocr_example1-checkpoint.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/ocr/.ipynb_checkpoints/ocr_example2-checkpoint.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/ocr/.ipynb_checkpoints/ocr_example3-checkpoint.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/ocr/ocr_example1.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/ocr/ocr_example3.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/ocr/ocr_example5.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/omni_recognition/sample-anime-result.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/omni_recognition/sample-anime.jpeg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/omni_recognition/sample-bird-result.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/omni_recognition/sample-bird.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/omni_recognition/sample-celebrity-result.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/omni_recognition/sample-celebrity.jpeg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/omni_recognition/sample-food-result.jpeg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/omni_recognition/sample-food.jpeg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/qwenagent/hopinn.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/autonomous_driving.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/dining_table.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/drone_cars2.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/football_field.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/lots_of_cars.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/lots_of_people.jpeg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/office.jpg filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/spatio_case2_aff.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/spatio_case2_aff2.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/spatio_case2_plan.png filter=lfs diff=lfs merge=lfs -text
cookbooks/assets/spatial_understanding/spatio_case2_plan2.png filter=lfs diff=lfs merge=lfs -text
qwen-vl-finetune/demo/images/COCO_train2014_000000580957.jpg filter=lfs diff=lfs merge=lfs -text
qwen-vl-finetune/demo/videos/v_7bUu05RIksU.mp4 filter=lfs diff=lfs merge=lfs -text
qwen-vl-finetune/demo/videos/v_TpB_zMG3XBA.mp4 filter=lfs diff=lfs merge=lfs -text
qwen-vl-finetune/demo/videos/v_rBMQFpHspmo.mp4 filter=lfs diff=lfs merge=lfs -text
